:root {
  --royal: #0563c1;
  --smokey: whitesmoke;
  }

* {
  box-sizing: border-box;
}

body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

/* START PAGE CONTENT */
main {
  box-sizing: border-box;
  position: relative;
}

/* START HEADER */
.header {
  overflow: hidden;
  background-color: var(--smokey);
  padding: 5px 5px;
}

.header a {
  float: right;
  color: var(--royal);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.highScores {
  position: left;
}

.header-right {
  float: right;
}

/* START PAGE */
.wrapper {
  align-items: center;
}

.content {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

p {
  text-align: center;
}

.btn {
  background-color: var(--royal);
  border: none;
  color: var(--smokey);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  border-radius: 7px;
}
/* END START PAGE */

/* START QUESTION PAGES */
p .question {
  color: rgb(141, 114, 114);
}

  /* ordered list */
ol {
  list-style: none;
  padding: 0;
  background-color: var(--smokey);
}

/* Previous scores for player */
li .previousScores {
  text-align: left;
  border-radius: 5px;
  display: table;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 120px;
  padding: 5px;
  background-color: #5a3ebe;
  color: var(--smokey);
  font-size: 2em;
}

  /* list of answers */
.listItem {
  text-align: left;
  border-radius: 5px;
  display: table;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 120px;
  padding: 5px;
  background-color: #5a3ebe;
  color: white;
  font-size: 1.5em;
}

li:hover {
  background-color: rgb(18, 31, 75);
}

/* Previous scores for player */
.previousScores {
  text-align: left;
  border-radius: 5px;
  display: table;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 120px;
  padding: 5px;
  background-color: #5a3ebe;
  color: var(--smokey);
  font-size: 2em;
}

/* RESPONSE */
hr {
  display: none;
  width: 50%;
}

#comeBack {
  text-align: center;
}

/* 'ALL DONE' PAGE */
.done {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  display: none;
}

.form {
  align-items: center; 
  text-align: center; 
  height: 20px;
  width: 200px;
  padding: 2px;
  margin-top: 10px;
  font-size: 1em;
  display: inline;
}

input {
  height: 20px;
  width: 100px;
  padding: 6px;
  margin-top: 10px;
  font-size: 2em;
}

.submit {
  height: 20px;
  border-radius: 4px;
}

.scores {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  display: none;
}

/* High Scores */
body .highScores {
position: left 100px;
}


/* @media screen and (max-width: 1183px) {
  main {
    flex-direction: column;
  }

  .response,
  #comeBack {
    width: 90vw;
  }

  section {
    background-color: white;
    margin: 20px auto;
    width: 92vw;
  }
}

@media screen and (max-width: 504px) {
  .content {
    font-size: 2em;
  }

  .scores {
    font-size: 12px;
    width: 20ox;
    
  }

  .timer {
    height: 200px;
  }
} */