* {
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
  --royal: #0563c1;
  --smokey: whitesmoke;
  }
  

body {
  background-color: #c3d9f4;
}

/*********************************** START PAGE ********************************/

main {
  box-sizing: border-box;
  padding-top: 10px;
  border: 2px black solid;
  border-radius: 1em;
  background-color: rgb(144, 151, 163);
  background-image: linear-gradient(
    rgba(112, 111, 116, 0.914) 0%,
    rgb(211, 211, 224) 100%);
  font-size: 16px;  
}

/********************************** START HEADER *******************************/

.header {
  height: 120px;
  overflow: hidden;
  background-color: var(--royal);
  background-image: linear-gradient(
    rgba(10, 43, 127, 0.914) 0%,
    rgb(126, 172, 245) 100%);
    margin-bottom: 20px;
    padding-top: 15px;
  border: solid 2px black;
  border-radius: 1em;
}

img {
  width: 525px;
  height: 90px;
  border-radius: 0.5em;
  border: dashed 1.5px var(--smokey);
}

.heading {
  position: absolute;
  padding-left: 425px;
  color: var(--smokey);
  text-justify: center;
}

#highScores {
  float: left;
  width: 200px;
  font-weight: bold;
  padding-top: 25px;
  margin-left: 25px;
  margin-top: 15px;
  background-color: rgb(96, 98, 116);
  background-image: linear-gradient(
    rgba(209, 209, 231, 0.914) 0%,
    rgb(83, 82, 97) 100%);
    text-decoration: none;
}

/***************************** ACCESS HIGH SCORES*******************************/

.highScores {
  color: var(--smokey);
  font-size: 16px;
  font-weight: bold;
    border: solid 2px var(--smokey);
    border-radius: 2em;
    width: 200px;
    height: 50px;
    float: left;
    text-align: center;
    text-decoration: none;
    padding-top: 10px;
    margin-left: 25px;
    margin-top: 15px;
    margin-right: 115px;
    background-color: rgb(96, 98, 116);
    background-image: linear-gradient(
      rgba(209, 209, 231, 0.914) 0%,
      rgb(83, 82, 97) 100%);
  }

.highScores:hover {
  background-color: royalblue;
  border: dashed 2px var(--smokey);
}
/********************************** TIMER ATTRIBUTES ***************************/

.header-right {
  color: var(--smokey);
  font-size: 16px;
  font-weight: bold;
  border: solid 2px var(--smokey);
  border-radius: 2em;
  width: 200px;
  height: 50px;
  float: right;
  text-align: center;
  text-decoration: none;
  padding-top: 10px;
  margin-right: 25px;
  margin-top: 15px;
  background-color: rgb(96, 98, 116);
  background-image: linear-gradient(
    rgba(209, 209, 231, 0.914) 0%,
    rgb(83, 82, 97) 100%);
}

p {
  color: rgb(200, 17, 17);
}
/*********************************** START PAGE ********************************/

.wrapper {
  justify-content: center;
  height: 200%;
  width: 100%;
}

.content {
  width: 500px;
  margin: auto;
  text-align: center;
}

#start {
  background-color: var(--royal);
  background-image: linear-gradient(
    rgba(10, 43, 127, 0.914) 0%,
    rgb(126, 172, 245) 100%);
  color: var(--smokey);
  margin-top: 30px;
  width: 250px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
  border: solid 2px var(--smokey);
  border-radius: 3rem;
}

/********************************* END START PAGE ******************************/

/******************************* QUESTIONS START PAGE **************************/

/*** LIST ITEMS ***/ 

/*** ORDER LIST OBJECTS ***/

ol {
    padding: 0;
    color: var(--smokey);
    background-color: rgb(18, 145, 229);
    background-image: linear-gradient(
      rgba(10, 43, 127, 0.914) 0%,
      rgb(126, 172, 245) 100%);
    text-align: center;
    border-radius: 1em;
  }

/*** PLAYER PREVIOUS SCORES ***/

.previousScores {
  text-align: center;
  display: table;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  font-size: 14px;
  color: var(--smokey);
}

li .previousScores {
  text-align: center;
  display: table;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  font-size: 14px;
  color: var(--smokey);
}

/*** ANSWERS LIST ATTRIBUTES ***/

.listItem {
  text-align: center;
  border-radius: 5px;
  display: table;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  color: var(--smokey);
  font-size: 14px;
}

li:hover {
  background-color: turquoise;
  color: var(--royal);
  border-radius: 1em;
}

/******************************** RESPONSE SECTION *****************************/

hr {
  display: none;
}

#comeBack {
  text-align: center;
}

/******************************** ROUND DONE PAGE ******************************/

.done {
  width: 500px;
  max-height: 400px;
  margin: 0 auto;
  text-align: center;
  display: none;
}

.form {
  align-items: center; 
  text-align: center; 
  height: 30px;
  width: 500px;
  font-size: 1.25em;
  color: var(--smokey);
}

input {
  height: 25px;
  width: 200px;
}

.submit {
  height: 30px;
  border: solid 2px grey;
  border-radius: 4px;
  font-weight: bold;
  border-radius: 0.5em;
}

.submit:hover {
  background-color: var(--royal);
  color: var(--smokey);
  border: dashed 2px var(--smokey);
}

.scores {
  display: none;
}

.scoreBtn {
  border: solid 2px grey;
  border-radius: 0.5em;
  height: 35px;
  width: 125px;
  font-weight: bold;
  margin-left: 10px;
}

#goBack {
  margin-left: 465px;
}

.scoreBtn:hover {
  background-color: var(--royal);
  color: var(--smokey);
  border: dashed 2px var(--smokey);
}

.highScore {
  color: rgb(5, 137, 198);
  text-align: center;
}
/************************ MOBILE DEVICE SCREEN ATTRIBUTES **********************/

@media (max-width: 1100px) {

main {
  flex-direction: column;
}

header {
  text-align: center;
  margin-top: 20px;
  color: var(--royal);
  font-size: 100%;
  flex-direction: column;
}

.header {
font-size: 20px;
position: inline-flex;
}

.heading {
  font-size: 25px;
  text-align: center;
  position: absolute;
  margin-left: -125px;
}

.header-right {
  position: inline-flex;
  width: 100px;
  font-size: 10px;
  height: 25px;
  border: solid 1px var(--smokey);
  text-align: center;
  padding-bottom: 25px;
}

.highScores {
  text-align: center;
  font-size: 10px;
    width: 100px;
    height: 25px;
    padding-bottom: 25px;
    border: 1px solid var(--smokey);
  }

img {
 width: 300px;
 margin-left: -50px;
}

#start {
  width: 100;
}

.scoreBtn {
  border: solid 2px grey;
  border-radius: 0.5em;
  height: 35px;
  width: 125px;
  font-weight: bold;
  margin-left: 10px;
}

#goBack {
  margin-left: 250px;
}
}

@media (max-width: 800px) {

  main {
    flex-direction: column;
  }
  
  .header {
  font-size: 20px;
  position: inline-flex;
  }
  
  .heading {
    font-size: 18px;
    padding-top: 20px;
    text-align: center;
    position: absolute;
    margin-left: -125px;
  }
  
  .header-right {
    position: inline-flex;
    width: 100px;
    font-size: 10px;
    height: 25px;
    border: solid 1px var(--smokey);
    text-align: center;
    padding-bottom: 25px;
  }
  
  .highScores {
    text-align: center;
    font-size: 10px;
      width: 100px;
      height: 25px;
      padding-bottom: 25px;
      border: 1px solid var(--smokey);
    }
  
  img {
   width: 225px;
   margin-left: -75px;
  }
  
  #start {
    width: 100;
  }
  
  .scoreBtn {
    border: solid 2px grey;
    border-radius: 0.5em;
    height: 35px;
    width: 125px;
    font-weight: bold;
    margin-left: 10px;
  }

  #goBack {
    margin-left: 150px;
  }
  }

  @media (max-width: 650px) {

    main {
      flex-direction: column;
    }
    
    .header {
    font-size: 20px;
    position: inline-flex;
    }
    
    .heading {
      font-size: 15px;
      padding-top: 20px;
      text-align: center;
      position: absolute;
      margin-left: -200px;
    }
    
    .header-right {
      position: inline-flex;
      width: 100px;
      font-size: 10px;
      height: 25px;
      border: solid 1px var(--smokey);
      text-align: center;
      padding-bottom: 25px;
    }
    
    .highScores {
      text-align: center;
      font-size: 10px;
        width: 100px;
        height: 25px;
        padding-bottom: 25px;
        border: 1px solid var(--smokey);
      }
    
    img {
     width: 200px;
     margin-left: -100px;
    }

    p {
      font-size: 13px;
    }
    
    #start {
      width: 100px;
      font-size: 14px;
    }
    
    .scoreBtn {
      border: solid 2px grey;
      border-radius: 0.5em;
      height: 35px;
      width: 125px;
      font-weight: bold;
      margin-left: 10px;
    }

    #goBack {
      margin-left: 75px;
    }
    }

    @media (max-width: 550px) {

      main {
        flex-direction: column;
        font-size: 14px;
      }
      
      .header {
      font-size: 15px;
      position: inline-flex;
      }
      
      .heading {
        font-size: 15px;
        padding-top: 20px;
        text-align: center;
        position: absolute;
        margin-left: -260px;
      }
      
      .header-right {
        position: inline-flex;
        width: 100px;
        font-size: 10px;
        height: 25px;
        border: solid 1px var(--smokey);
        text-align: center;
        padding-bottom: 25px;
      }
      
      .highScores {
        text-align: center;
        font-size: 10px;
          width: 100px;
          height: 25px;
          padding-bottom: 25px;
          border: 1px solid var(--smokey);
        }
      
      img {
       width: 200px;
       margin-left: -110px;
      }
      
      p {
        font-size: 13px;
        padding-right: 15px;
      }

      ol {
        margin-right: 20px;
        font-size: 12px;
      }

      .listItem {
        font-size: 12px;
        padding-left: 20px;
      }

      #start {
        width: 100px;
        font-size: 14px;
      }
      
      .scoreBtn {
        border: solid 2px grey;
        border-radius: 0.5em;
        height: 35px;
        width: 125px;
        font-weight: bold;
      }

      #goBack {
        margin-right: 75px;
      }
      }